.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-fake-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
