.App {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.HangmanGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adaptive-ui {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

.adaptive-ui-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

.game-word-tip > div {
  margin: 0.5em;
  padding: 0.5em;
  font-size: smaller;
}

.adaptive-ui-content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.keyboard-div {
  width: 100%;
  margin: auto;
  height: 15rem;
}
